<!-- Start Footer -->
<footer class="bg-dark" id="tempaltemo_footer">
	<div class="container">
		<div class="row">

			<div class="col-md-3 pt-3">
				<h2 class="h5 border-bottom pb-3 border-light logo">FFR Shop</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li>
						<i class="fas fa-map-marker-alt fa-fw"></i>
						123 Avenue de Symfony 75000 Paris
					</li>
					<li>
						<i class="fa fa-phone fa-fw"></i>
						<a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
					</li>
					<li>
						<i class="fa fa-envelope fa-fw"></i>
						<a class="text-decoration-none" href="mailto:info@company.com">info@company.com</a>
					</li>
				</ul>
			</div>

			<div class="col-md-3 pt-3">

				<h2 class="h5 text-light border-bottom pb-3 border-light">Ma commande en ligne</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li>
						<a class="text-decoration-none" href="{{ path('profile_detail') }}">Mon compte</a>

					</li>
					<li>
						<a class="text-decoration-none" href="{{ path('profile_purchase_list') }}">Mes commandes</a>

					</li>
					<li>
						<a class="text-decoration-none" href="#">Ma livraison</a>
					</li>
					<li>
						<a class="text-decoration-none" href="#">Mon retour</a>
					</li>

				</ul>
			</div>

			<div class="col-md-3 pt-3">
				<h2 class="h5 text-light border-bottom pb-3 border-light">Service client</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li>
						<a class="text-decoration-none" href="#">Conditions générales de vente</a>
					</li>
					<li>
						<a class="text-decoration-none" href="#">Retour et remboursement</a>
					</li>

					<li>
						<a class="text-decoration-none" href="#">FAQs</a>
					</li>

					<li>
						<a class="text-decoration-none" href="{{ path('customer_contact') }}">Contact</a>
					</li>
				</ul>
			</div>

			<div class="col-md-3 pt-3">
				<h2 class="h5 text-light border-bottom pb-3 border-light">A propos</h2>
				<ul class="list-unstyled text-light footer-link-list">
					<li>
						<a class="text-decoration-none" href="#">Gestions des cookies</a>
					</li>
					<li>
						<a class="text-decoration-none" href="#">Mentions légales</a>
					</li>
					<li>
						<a class="text-decoration-none" href="#">Plan du site</a>
					</li>
					<li>
						<a class="text-decoration-none" href="#">Protections des données</a>
					</li>
				</ul>
			</div>


			<div class="col-12 text-center mb-2">


				<a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/">


					<i class="fa-brands fa-facebook mx-3"></i>

				</a>

				<a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/">
					<i class="fab fa-twitter fa-lg fa-fw mx-3"></i>

				</a>


				<a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/">
					<i class="fab fa-instagram fa-lg fa-fw mx-3"></i>

				</a>

				<a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/">
					<i class="fab fa-linkedin fa-lg fa-fw mx-3"></i>

				</a>
			</div>
		</div>
	</div>
</footer>
<!-- End Footer -->
