{% extends "admin/base.html.twig" %}

{% block body %}
	<div class="container py-5">
		{% include "_messages_flash.html.twig" %}

		<div class="row">
			<div class="col-sm-12 col-md-6">

				<div class="card">
					<div class="card-header">
						<h5>Conditions générales</h5>
					</div>
					<div class="card-body">
						<a href="#" class="btn btn-info w-100">Mes commandes</a>
						<a href="#" class="btn btn-info w-100 mt-1">Conditions générales de ventes</a>
						<a href="#" class="btn btn-info w-100 mt-1">Conditions générales d'utilisations</a>
						<a href="#" class="btn btn-warning w-100 mt-1">Retour et remboursement</a>
						<a href="#" class="btn btn-info w-100 mt-1">Protection des données</a>
					</div>
				</div>


			</div>
		</div>
	</div>


{% endblock %}

